@import 'styles/header.scss';
@import 'styles/nav.scss';
@import 'styles/home.scss';
@import 'styles/who.scss';
@import 'styles/get-involved.scss';
@import 'styles/footer.scss';
@import 'styles/responsive-nav.scss';
@import 'styles/back-to-top.scss';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

